<h1> <%=@current_user.spotify_user_id%>'s current playlists </h1>

<table border="1">
<tr>
  <th>
    playlist art
  </th>
  <th>
    playlist name
  </th>
  <th>
    full playlist
  </th>
  <th>
    archived playlist?
  </th>
</tr>


  <% @playlists.each do |playlist|%>
    <tr>
      <% if playlist.images.count > 0%>
        <td><img src = <%= playlist.images.at(0).fetch("url")%> alt = "image artwork for playlist" width = 200 height = 200></td>
      <%end%>
      <td><%= playlist.name%></td>
      <td><a href = "current_playlists/<%= playlist.id%>">full playlist</a></td>
      <%archived_playlist = "not archived"%>
      <% if Playlist.where({ :playlist_id => playlist.id}).count > 0%>
        <%archived_playlist = "archived"%>
      <%end%>
      <td><%= archived_playlist%></td>
    </tr>
  <%end%>

</table>
