<h1><%=@playlist.name%></h1>

<table border="1">
<tr>
  <th>
    track title 
  </th>
  <th>
    album 
  </th>
  <th>
    artist
  </th>
</tr>


  <% @playlist.tracks.each do |track|%>
    <% artist_names = ""%>
    <% count = 0%>
    <%track.artists.each do |artist|%>
      <%artist_names += artist.name%>
      <% if count < track.artists.length - 1%>
        <%artist_names += ", "%>
      <% count += 1%>
      <%end%>
    <%end%>
    <tr>
      <td><%=track.name%></td>
      <td><%= track.album.name%></td>
      <td><%=artist_names%></td>
    </tr>
  <%end%>

</table>

<br></br>
    <form action="/insert_playlist" method="post">
      <div>
        <input type="hidden" id="playlist_id" name="query_playlist_id" value = <%= @playlist.id%>>
      </div>
      
      <div>
        <input type="hidden" id="user_id" name="query_user_id" value = <%=@current_user.id%>>
      </div>

      <div>
        <input type="hidden" id="playlist_url" name="query_playlist_url">
      </div>

      <div>
        <input type="hidden" id="deleted_at" name="query_deleted_at">
      </div>

      <div>
        <input type="hidden" id="playlist_title" name="query_title" value = "<%=@playlist.name%>">
      </div>

      <div>
        <input type="hidden" id="playlist_artwork" name="query_artwork" value = <%=@playlist.images.at(0).fetch("url")%>>
      </div>

      <button>
        Archive playlist
      </button>
    </form>


    <%= @tracks%>
