<div >
  <h5>
    Edit User Account
  </h5>

  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/modify_user" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
          
      </div>
                                    
      <div>
        <label for="spotify_user_id_box">Spotify user</label>
          
        <input id="spotify_user_id_box" name="query_spotify_user_id" value="<%= @current_user.spotify_user_id %>">
          
      </div>
                      
      <div>
        <label for="access_token_box">Access token</label>
          
        <input id="access_token_box" name="query_access_token" value="<%= @current_user.access_token %>">
          
      </div>
                      
      <div>
        <label for="refresh_token_box">Refresh token</label>
          
        <input id="refresh_token_box" name="query_refresh_token" value="<%= @current_user.refresh_token %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
